html {
    background-color: #766556;
}

body{
    margin: 0;
    padding: 0;
}

p{
    color: #a5e6f2;
}
.titleone {
    text-align: center;
    text-decoration: underline;
    font-size: 100px;
}
.titletwo {
    text-align: center;
    font-size: 70px;
    font-style: italic;
}
.LinkTree {
    text-align: center;
    font-size: 50px;
}

img{
    width : 100%;
    padding: 5px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.column {
    display: flex;
    flex-direction: column;
    padding : 5px;
}

#home{
    background-color: #a5e6f2;
    height: 100px;
    width: 100%;
}